<?xml version="1.0" encoding="windows-1251" ?>

<response>
    <protocol-version>{{ protocol_version }}</protocol-version>
    <request-type>{{ request_type }}</request-type>
    <terminal-id>{{ terminal }}</terminal-id>
    <result-code>{{ result_code }}</result-code>
    <operator-id>{{ operator_id }}</operator-id>
    <status-id>{{ status_id }}</status-id>
    <transaction-number>{{ transaction_number }}</transaction-number>
    <txn-id>{{ txn_id }}</txn-id>
    <to>
        <service-id>{{ service_id }}</service-id>
        <amount>{{ amount }}</amount>
        <account-number>{{ account_number }}</account-number>
    </to>
</response>
