{% extends 'main_os/wrapper.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Страница амортизации</title>
</head>
<body>
  <p>Амортизация прошла успешно</p>.
  <p>Общее количество: {{ k }}</p>
  <p>Транспорт: {{ tr }}</p>
  <p>Нематериальные активы: {{ na }}</p>
  <p>Здания: {{ z }}</p>
  <p>Компьютерное оборудование: {{ comp }}</p>
  <p>Капиталовложение: {{ cap }}</p>
  <p>Мебель: {{ meb }}</p>
  <p>Оборудование: {{ o }}</p>

</body>
</html>
{% endblock %}
