<!DOCTYPE HTML>
{% load staticfiles %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static "css/styles.css" %}" />
  <title>Пример веб-страницы</title>
 </head>
 <body>
   <header>

   </header>
   <nav class="sidenav">
    <ul class="main-buttons">
      <li>
        <i class="fa fa-circle fa-2x"></i>
        Lorem Ipsum
        <ul class="hidden">
          <li>TK-421</li>
          <li>why aren't </li>
          <li>you at </li>
          <li>your post?</li>
        </ul>
      </li>
      <li>
        <i class="fa fa-circle fa-2x"></i>
        Dolor Sit
        <ul class="hidden">
          <li>Dark</li>
          <li>Wings</li>
          <li>Dark</li>
          <li>Words</li>
          <li>John SNUUW</li>
        </ul>
      </li>
      <li>
        <i class="fa fa-circle fa-2x"></i>
         Consectetur
         <ul class="hidden">
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Dolor</li>
        </ul>
      </li>
    </ul>
</nav>
   {% block content %}
   {% endblock %}
  <footer>

  </footer>
 </body>
</html>
