{% extends 'upload_db/wrapper.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Главная страница</title>
</head>
<body>
  <p><a href="upload/">UPLOAD</a></p>
  <p><a href="upload_amort_history/">UPLOAD AMORT HISTORY</a></p>
  <p><a href="upload_change_bal_price/">UPLOAD CHANGE BAL_PRICE</a></p>
  <p><a href="upload_spisan/">UPLOAD SPISAN</a></p>
  <p><a href="upload_employees/">UPLOAD EMPLOYEES</a></p>
  <p><a href="delete_data_main_t/">DELETE DATA MAIN_T</a></p>
  <p><a href="delete_data_amort_t/">DELETE DATA AMORT_T</a></p>
</body>
</html>
{% endblock %}
